[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
twine = "*"
pylint = "*"
autopep8 = "*"
rope = "*"
astunparse = "*"

[packages]

[requires]
python_version = "3.8"
